body{
    background-image: url(../img/BG5.jpg);
    background-attachment: fixed;
    font-family: 'Castoro Titling', cursive;
}
html{ 
    scroll-behavior: smooth;
}
.p{
    padding-top: 1%;
    padding-bottom: 0,5%;
    font-size: 200%;
    line-height: 1.em;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;  
}
font
h1{

    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
}
.h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px red;

}
li{
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;  
}


.imgdireita{
    float: right;
}

.imgtam{
    width:20%;
    margin-left: 2%;
}
.icon{
    list-style-image: url(../img/icon.png);
}
    
article{
    font-size: larger;
}
    header{
        width: 100%;
        background-image: url(../img/PngItem_2695213.png);
        
    }
    .logo {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1.4em;

    }
    nav{ 
        color: rgb(248, 248, 248);
        text-align: center;
        font-size: 1.4em;
    }
    .banner{
        width: 80%;
        margin:center ;
    }
    .container {
        background-color: rgb(133, 133, 133);
        width: 80%;
        margin: auto;
        padding-left: 2%;
        padding-right: 2%;
    }
    footer{
        background-color: firebrick;
        color: black;
        font-size: 1.3em;
        text-align: center; 
    }
    
    .nome:hover
    {
        color: red;
        transition: 1s;
        font-size: 1.5em;
    }
    .linha{
        display: flex;
        flex-flow: row wrap;
        text-align: center;    
    }
    
    .col-6 {
        width: 50%;
        text-align: center;
    }
    #grad{
        background-image: linear-gradient(to bottom right, red , rgb(27, 21, 21));
    }
    .jiu{ 
        border-style:solid
    }

    .imagem-card{
        background-image: linear-gradient(to right, #272121 , #790000);
        width: 100%;
        border-style: double;
        border-color: #8a0808;
        border-width: 20px;
        box-shadow: 15px 15px 25px 6px rgba(239, 234, 234, 0.2);
        transition: 0.3s;   
    }
     table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
    td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
    tr:nth-child(even) {
          background-color: #dddddd;
        }

    .nav-bar {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 6rem;
    
    }
    .nav-list {
        display: flex;
        align-items: center;
    
    }
    
    .nav-list ul {
        display: flex;
        align-items: center;
        list-style: none;
    }
    
    .nav-item {
        margin: 0 15px;
    }
    
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
    }
    