body{
    background-image: url(../img/BG5.jpg);
    background-attachment: fixed;
    font-family: 'Castoro Titling', cursive;
}
html{ 
    scroll-behavior: smooth;
}
h1{

    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
}
article{
    font-size: larger;
}
    header{
        width: 100%;
        background-color: rgb(1, 41, 28);
    }
    .logo {
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 1.4em;

    }
    nav{ 
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: 1.4em;
    }
    .banner{
        width: 80%;
        margin:center ;
    }
    .container {
        background-color: rgb(133, 133, 133);
        width: 80%;
        margin: auto;
        padding-left: 2%;
        padding-right: 2%;
    }
    footer{
        background-color: firebrick;
        color: black;
        font-size: 1.3em;
        text-align: center; 
    }
    p{
        padding-top: 1%;
        padding-bottom: 0,5%;
        font-size: 1.2em;
        line-height: 1.em;
        text-align: justify;
        
    }
    .nome:hover
    {
        color: red;
        transition: 1s;
        font-size: 1.5em;
    }
    .linha{
        display: flex;
        flex-flow: row wrap;
        text-align: center;    
    }
    
    .col-6 {
        width: 25%;
    }
    #grad{
        background-image: linear-gradient(to bottom right, red , rgb(27, 21, 21));
    }
    .jiu{ 
        border-style:solid
    }

    .imagem-card{
        background-image: linear-gradient(to right, #272121 , #790000);
        width: 90%;
        border-style: double;
        border-color: #8a0808;
        border-width: 20px;
        box-shadow: 15px 15px 25px 6px rgba(239, 234, 234, 0.2);
        transition: 0.3s;   
    }
    h1{
        text-shadow: 2px 2px red;
    }
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
